#mainAnchor{
    -fx-background-color: linear-gradient(to top  ,#13245f ,#11253f);
}

#mainGrid{
    -fx-background-color: #13245f;
}

#sideBar{

    -fx-background-color: linear-gradient(to top  ,#13245f ,#132450);
}

#mainRightAnchor{
    -fx-background-image : url("...\...\...\...\resources\Images\glass.png");
}