#mainAnchor{
    -fx-background-color: linear-gradient(to right  ,#ffffff ,#03a9f4);
}

#mainGrid{
    -fx-background-color: #000000;
}

#sideBar{
    -fx-background-color: linear-gradient(to top  ,#ffffff ,#03a9f4);
}